.pb_outer {
    width: 100%;
    height: 2rem;
    border: 1px var(--soc-blue) solid;
    border-radius: 4px;

    .pb_inner {
        height: 2rem;
        background: var(--soc-blue);
        transition: width 1s;
    }
}